<p class="fw-semibold fs-1 text-success-emphasis">Dashboard</p>
<p class="fs-1 text-primary-emphasis">Hello, <%=locals.user.name%></p>

<hr>
<hr>
<button type="button" class="btn btn-success rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Upload New File
</button>

<div class="container text-center my-4">
  <div class="row">
    <div class="col border border-warning rounded">
      <h1 class="fs-2 text-success">Files</h1>
      <ol class="list-group list-group-numbered">
        <%for(let i of files){%>
          <li class="list-group-item d-flex justify-content-between align-items-start m-1">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%=i.title%></div>
              <%=i.description%>
            </div>
            <div class="mx-2">
              <button type="button" class="btn btn-success">Edit</button>
              <a href="/doc/dashboard/deleteF/<%=i.id%>"><button type="button" class="btn btn-danger">Delete</button></a>
            </div>
            <span class="badge bg-primary rounded-pill"><%=i.likes%></span>
          </li>
          <%}%>
      </ol>
    </div>
    <div class="col border border-danger rounded">
      <h1 class="fs-2 text-success">Update Your Personal Info</h1>
      <form action="/doc/dashboard/updatepwd" method="post">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter new Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" name="passwordcnf" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/doc/dashboard/new-file-upload" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">file upload</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                  </div>
                  <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" required>
                  </div>
                  <div class="mb-3">
                    <label for="file" class="form-label">File Upload/label>
                    <input type="file" class="form-control" id="file" name="file" required>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="Upload" class="btn btn-primary">Save changes</button>
              </div>
        </form>
      </div>
    </div>
  </div>