<h1>View Documents</h1>
<hr>
<hr>
<div class="container-fluid mx-10">
    <ol class="list-group list-group-numbered">
        <%for(let i of file){%>
        <li class="list-group-item d-inline-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><%=i.title%></div>
            <details>
              <summary>Click to expand</summary>
              <p><%=i.description%></p>
            </details>
          </div>
          <span class="badge bg-primary rounded-pill mx-4"><%=i.likes%></span>
          <%if(locals.user){%>
          <a href="/doc/likeF/<%=i._id%>"><button class="btn btn-success mx-2">Like</button></a>
          <%}else{%>
            <a href="#"><button class="btn btn-success disabled mx-2">Like</button></a>
        <%}%>
            <iframe src="http://localhost:8000<%=i.file%>" frameborder="0" width="600px"></iframe>
        </li>
        <%}%>
      </ol>

</div>